{% extends 'base.html.twig' %}

{% block body %}



<div class="container">
    <h3>Création d'un post</h3>

    <form method="POST">
        <div class="row">
            <div class="col" id="input">
                <input type="text" name="title" id="title" class="form-control" placeholder="Mon super title">
            </div>
            <div class="col" id="input">
                <input type="text" name="chapo" id="chapo" class="form-control" placeholder="Mon super chapo">
            </div>
        </div>
        <div class="row">
            <div class="col" id="input">
                <textarea class="form-control" name="content" id="content" placeholder="Lorem Ipsum is simply dummy text of the..."></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn btn-outline-secondary">Submit</button>
    </form>
</div>

{% endblock %}
