{% extends 'mails/base_mail.html.twig' %}

{% block style %}
    {#<style>
    h1 {
        color: aquamarine;
    }
</style>
#}

{% endblock %}


{% block body %}

<h1>Mail de la part de  {{ firstname }} {{ lastname }}</h1>
    <p>
        contenu : {{ body }}
    </p>
    <p>repondre à : {{ email }}</p>
{% endblock %}
