{% extends 'mails/base_mail.html.twig' %}

{% block style %}
    {#<style>
    h1 {
        color: aquamarine;
    }
</style>
#}

{% endblock %}


{% block body %}

<h1>Merci pour votre mail {{ name }}</h1>
{% endblock %}
