{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row" id="input">

            <div class="offset-md-5">
                <fieldset>
                    <img src="../../assets/logo/logo.png" alt="Le_logo" />
                </fieldset>
            </div>
        </div>
        <div class="row homepageSecondRow">
            <div class="col">
               <!-- <h4 id="nom">Giscard De Sousa</h4> -->
            </div>
            <div class="col offset-4">
                <!--<h4>Le développeur qu’il vous faut !</h4> -->
            </div>
        </div>
                <h4 class="homepage_title">Me contacter</h4>
        <form method="POST">
            <div class="row">
                <div class="col" id="input">
                    <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Prénom">
                </div>
                <div class="col" id="input">
                    <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Nom">
                </div>
                <div class="col" id="input">
                    <input type="email" name="email" id="email" class="form-control" placeholder="visiteur@gmail.com">
                </div>
            </div>
            <div class="row">
                <div class="col" id="input">
                    <textarea class="form-control" name="body" id="body" placeholder="Dites-moi tout" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Téléchargez mon cv <a href="{{ '/assets/files/CV.pdf'}}">ICI</a></h5>
                </div>
            </div>
<div class="offset-md-5">
    <input class="btn btn-primary" type="submit" value="Envoyer">
</div>
   </form>
    </div>
{% endblock %}

