{% extends 'errors/_base_error.html.twig' %}

{% block error_message %}

    <h1>Une erreur interne a été rencontré. Merci de réessayer plus tard ou
    de retourner à l'accueil.</h1>

{% endblock %}
