#input{
    margin-bottom: 3%;
}


#title{
    text-align: center;
    margin-left: 48%;
    margin-bottom: 5%;
}
.homepageSecondRow{
    margin-bottom: 2%;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #263238;
    text-align: center;
    color: #f4f4f4;
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

#indexArticleCardBody{
    min-height: 110px;
    max-height: 110px;
}

.titres{
text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.form-group{
    margin-bottom: 3%;
}

.libelle{
    font-weight: bold;
    font-size:20px;
    padding-left: 10%;
    margin-top: 0.5%;
}
.libelleMotDePasse{
    font-weight: bold;
    font-size:20px;
    padding-left: 10%;
}

.btn-primary{
    margin-left: 6%;
}
.btn-outline-secondary{
    margin-left: 11%;
}
.rowInscription{
    margin-bottom: 3%;
}

#rowLabelContenue{
    margin-top: 2%;
    margin-bottom: 2%;
}
