{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h2 class="titres">Je m'inscris</h2>
        <form method="POST">
            <div class="row rowInscription">
                    <div class="col-2 libelle">
                        <label for="email">Prénom</label>
                    </div>
                <div class="col-10">
                    <input type="text" name="firstname" id="firstname" class="form-control" placeholder="">
                    {% if errors.firstname.required %}
                        <div class='alert alert-danger'>
                            <ul>
                                {% if errors.firstname.required %}
                                    <li>L'ajout de votre prénom est requis.</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if errors.firstname.sup %}
                        <div class='alert alert-danger'>
                            <ul>
                                {% if errors.firstname.sup %}
                                    <li>Le prénom ne doit pas etre supérieur a 32 caractères.</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if errors.firstname.inf %}
                        <div class='alert alert-danger'>
                            <ul>
                                {% if errors.firstname.inf %}
                                    <li>Le prénom doit contenir plus d'une lettre.</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                </div>
            <div class="row rowInscription">
                <div class="col-2 libelle">
                    <label for="email">Nom</label>
                </div>
                <div class="col-10">
                    <input type="text" name="lastname"  id="lastname" class="form-control" placeholder="">
                    {% if errors.lastname.required %}
                        <div class='alert alert-danger'>
                            <ul>
                                {% if errors.lastname.required %}
                                    <li>L'ajout de votre nom est requis.</li>
                                {% endif %}
                            </ul>
                        </div>
                        {%endif%}
                            {% if errors.lastname.sup %}
                                <div class='alert alert-danger'>
                                    <ul>
                                        {% if errors.lastname.sup %}
                                        <li>Le prénom ne doit pas etre supérieur a 32 caractères.</li>
                                     {% endif %}
                                    </ul>
                                </div>
                             {% endif %}
                    {% if errors.lastname.inf %}
                        <div class='alert alert-danger'>
                            <ul>
                                {% if errors.lastname.inf %}
                                    <li>Le prénom doit contenir plus d'une lettre.</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                </div>
            <div class="row rowInscription">
                <div class="col-2 libelle">
                    <label for="email">Email</label>
                </div>
                <div class="col-10">
                    <input type="email" name="email"  id="email" class="form-control" placeholder="">
                    {% if errors.email.required %}
                        <div class='alert alert-danger'>
                            <ul>
                                {% if errors.email.required %}
                                    <li>L'ajout de votre mail est requis.</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                </div>
            <div class="row rowInscription">
                    <div class="col-2 libelleMotDePasse">
                        <label for="email">Mot de passe</label>
                    </div>
                <div class="col-10">
                    <input type="password" name="password"  id="password" class="form-control" placeholder="">
                    {% if errors.password.required %}
                        <div class='alert alert-danger'>
                            <ul>
                                {% if errors.password.required %}
                                    <li>Le mot de passe est obligatoire.</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                </div>
            <div class="row rowInscription">
                <div class="col-2 libelleMotDePasse">
                    <label for="email">Mot de passe</label>
                </div>
                <div class="col-10">
                    <input type="password" name="password2"  id="password2" class="form-control" placeholder="Confirmer mot de passe">
                    {% if errors.password.required %}
                        <div class='alert alert-danger'>
                            <ul>
                                {% if errors.password.notTheSame %}
                                    <li>Pas le meme mot de passe.</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="offset-5">
                <button type="submit" class="btn btn-primary">M'inscrire</button>
            </div>
        </form>
    </div>
{% endblock %}

